<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <%= title %>
                </a>
            </div>
            <div class="hamburger">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>