*,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
}

:root {
    --bg-primary: rgb(17, 79, 172);
    --bg-success: green;
    --bg-secondary: black;
    --bg-danger: red;
    --color-white: #fff;
}

.dark {
    --bg-primary: #111;
    --bg-success: #111;
    --bg-danger: #111;
    --color-white: #fff;
    --color-success: #fff;
}